<div class="jumbotron">
  <div class="container-fluid">
    <h1>Band - Venue Tracker</h1>
    <% if @bands.any?() %>
    <p>My bands:</p>
    <ul class="nav nav-pills nav-stacked">
      <% @bands.each() do |band| %>
        <li class="active"><a href=""><%= band.name() %></a></li>
      <% end %>
    </ul>

    <% else %>

    <div class="alert alert-dismissible alert-danger">
      <h4><strong>The day the music died...</strong></h4>
      <h3 class="text-primary">
        <strong></strong>
      </h3>
    </div>
  </div>
      <% end %>
</div>

<div class="container-fluid">
  <form class="form-horizontal" action="/new_band" method="post">
    <fieldset>
      <p class='text-muted'>Add a band: </p>
      <label for="name">Band</label>
      <input type="text" name="name" id="name" placeholder="Flock of Seagulls">
      <button class="btn btn-primary" type="submit">ADD BAND</button>
    </fieldset>
  </form>
</div>

<div class="well">
<div class="container-fluid">
  <form class="form-horizontal" action="/new_venue" method="post">
    <fieldset>
      <p class="text-muted">Add a venue: </p>
      <label for="place">Venue</label>
      <input type="text" name="place" id="place" placeholder="Wimbledon">
      <button id="" class="btn btn-info" type="submit">ADD VENUE</button>
    </fieldset>
  </form>
</div>
</div>

<div class="well">
  <% if @venues.any?() %>
  <p>Concert Venues</p>
  <div class="list-group">
    <ul>
      <% @venues.each() do |venue| %>
        <li class="active list-group-item"><a href="#"><%= venue.place() %></a></li>
      <% end %>
    </ul>
  </div>
  <% else %>
  <div class="alert alert-dismissible alert-danger">
    <h4><strong>You have no Concert Venues! <br>There's no place like home...</strong></h4>
      <div>
        <img class="img-thumbnail panel-primary img-responsive img-circle" src="http://blog.riptapparel.com/blog/wp-content/uploads/2013/02/RIPT-dorothy-and-toto-yetibrett1.jpg" class="img-thumbnail pull-right " />
      </div>


    <h3 class="text-primary">
      <strong></strong>
    </h3>
  </div>
    <% end %>
</div>
