<div class="jumbotron">
  <h1>Band - Venue Tracker</h1>

  <% if @bands.any?() %>
  <p>My bands:</p>

  <ul class="nav nav-pills nav-stacked">
    <% @bands.each() do |band| %>
    <li class="active"><a href=""><%= band.name() %></a></li>
    <% end %>
  </ul>
  <% else %>

  <div class="alert alert-dismissible alert-danger">
  <h4><strong>The day the music died...</strong></h4>
  <h3 class="text-primary">
    <strong></strong>
  </h3>

</div>

<% end %>

</div>


<form class="form-horizontal" action="/new_band" method="post">
  <fieldset>
    <p class='text-muted'>Add a band: </p>
    <label for="name">Band</label>
    <input type="text" name="name" id="name" placeholder="Flock of Seagulls">
    <button class="btn btn-primary" type="submit">ADD BAND</button>
  </fieldset>
</form>
